.card {
    background-color: white;
    color: var(--grey);
    width: 250px;
    height: 80px;
    margin: 15px 20px;
    border-radius: 7px;
    border: 1px solid var(--dark-white);
    cursor: pointer;
    text-align: center;
    box-shadow: inset 0 0 50px var(--light-grey);
}

.card.selected {
    background-color: var(--blue);
    color: white;
    box-shadow: inset 0 0 50px var(--dark-blue);
}

.card:hover {
    border: 1px solid var(--grey);
}

.card .title {
    line-height: 80px;
    font-weight: 700;
    font-size: 17px;
    margin-left: 15px;
}

img {
    height: 20px;
    filter: invert(45%);
}

img.selected {
    filter: invert(100%);
}

.tooltip {
    margin-top: 55px;
    margin-right: 5px;
    float: right;
}

.tooltip span {
    visibility: hidden;
    position: absolute;
    background: lightblue;
    color: var(--dark-blue);
    border-radius: 6px;
    padding: 10px;
    z-index: 1;
}

.tooltip:hover span {
    visibility: visible;
}