$grey: #828185;
$light-grey: #e4e4e4;
$white-smoke: #f8f4f4;
$dark-blue: #00386a;

.card {
    background-color: $white-smoke;
    color: $grey;
    padding: 35px 80px;
    margin: 40px 20px;
    border-radius: 5px;
    border: 1px solid $light-grey;
    cursor: pointer;
  }
  .selected {
      background-color: $dark-blue;
      color: white;
  }
