.container {
  margin: 20px auto;
  width: 80%;
  padding: 10px;
}

.heading {
  padding: 12px 30px;
  display: flex;
  cursor: pointer;
  background-color: white;
  box-shadow: inset 0 0 50px var(--light-grey);
  color: var(--grey);
  font-weight: 400;
  font-size: 35px;
  margin-top: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--white-smoke);

}

.content {
  border: 1px solid var(--white-smoke);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -1px 13px 19px 0px var(--white-smoke);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collapsable {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s;
  -webkit-transition: max-height 0.6s;
  -moz-transition: max-height 0.6s;
  -o-transition: max-height 0.6s;
}

.collapsable.showMe {
  max-height: 700px;
}

img {
  transition: 0.5s ease-out;
  margin-left: auto;
  height: 45px;
  filter: invert(45%);
}

.icon {
  animation-name: icon;
  transform: rotate(180deg);
  transition: 0.2s ease-out;
}